@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}



body {
  background: #5372F0;
}

.custom-overlay {
  /* background: rgba(62, 61, 61, 0.8); */
  position: fixed;
  top: 0;
  left: -0px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}



.custom-overlay .ReactModal__Content {
  inset: 0px !important;
  right: 0 !important;
  border-radius: 16px 16px 16px 16px !important;
  height: 50vh;
  width: 90% !important;
  background-color: rgb(114, 105, 105) !important;
  opacity: 0.95 !important;
  margin: auto !important;
  border-color: transparent !important;
  
} 

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


